In [32]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior1.csv')

In [33]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_aged,14.0
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adults,14.0
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_aged,7.0
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adults,7.0
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_aged,365.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   float64
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  previous_purchases       3900 non-null   int64
 15  payment_method           3900 non-null   object
 16  frequency_of_purchases   3900 non-null   object
 17  age_group                3900 non-null   object
 18  purchase_frequency_days  3353 non-null   float64
dtypes: float64(2), int64(4), object(13)
memory usage: 579.0+ KB

In [35]:
df.describe(include='all')

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3353.000000
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,NaN,6,7,4,NaN
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,NaN,PayPal,Every 3 Months,Young Adults,NaN
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,NaN,677,584,1028,NaN
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750051,NaN,NaN,NaN,25.351538,NaN,NaN,NaN,101.390098
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.713590,NaN,NaN,NaN,14.447125,NaN,NaN,NaN,124.140318
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,7.000000
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,14.000000
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,90.000000
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,38.000000,NaN,NaN,NaN,90.000000
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,365.000000

In [36]:
df.isnull().sum()

customer_id                  0
age                          0
gender                       0
item_purchased               0
category                     0
purchase_amount              0
location                     0
size                         0
color                        0
season                       0
review_rating                0
subscription_status          0
shipping_type                0
discount_applied             0
previous_purchases           0
payment_method               0
frequency_of_purchases       0
age_group                    0
purchase_frequency_days    547
dtype: int64

In [48]:
df['review_rating'] = df.groupby('category')['review_rating'].transform(lambda x: x.fillna(x.median()))

In [49]:
df.isnull().sum()

customer_id                  0
age                          0
gender                       0
item_purchased               0
category                     0
purchase_amount              0
location                     0
size                         0
color                        0
season                       0
review_rating                0
subscription_status          0
shipping_type                0
discount_applied             0
previous_purchases           0
payment_method               0
frequency_of_purchases       0
age_group                    0
purchase_frequency_days    547
dtype: int64

In [50]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [51]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [52]:
#Create a new column  age_group
labels=['Young Adults','Adults','Middle_aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=labels)

In [53]:
df[['age','age_group']].head(10)

   age     age_group
0   55   Middle_aged
1   19  Young Adults
2   50   Middle_aged
3   21  Young Adults
4   45   Middle_aged
5   46   Middle_aged
6   63        Senior
7   27  Young Adults
8   26  Young Adults
9   57   Middle_aged

In [54]:
# Perchase purchase_frequency_days
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi_weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [55]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [61]:
  # or however you want to populate it

NameError: name 'Yes' is not defined

In [60]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes            None
1              Yes            None
2              Yes            None
3              Yes            None
4              Yes            None
5              Yes            None
6              Yes            None
7              Yes            None
8              Yes            None
9              Yes            None

In [56]:
(df['discount_applied']==df['promo_code_used']).all()

KeyError: 'promo_code_used'

In [16]:
df=df.drop('promo_code_used',axis=1)

In [17]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [62]:
df.to_csv("customer_shopping_behavior1.csv",index=False)

In [63]:
import os
print(os.getcwd())

C:\Users\Admin

In [64]:
df.to_csv(r"C:\Users\Admin\customer_shopping_behavior1.csv",index=False)

In [65]:
cheack=pd.read_csv("customer_shopping_behavior1.csv")
cheack.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days,promo_code_used
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_aged,14.0,NaN
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adults,14.0,NaN
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_aged,7.0,NaN
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adults,7.0,NaN
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_aged,365.0,NaN

In [66]:
pip install psycopg2.binary sqlalchemy

Requirement already satisfied: psycopg2.binary in c:\users\admin\panda1\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\admin\panda1\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\panda1\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\panda1\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [67]:
!pip install mysql-connector-python SQLAlchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\admin\panda1\lib\site-packages (9.5.0)
Requirement already satisfied: SQLAlchemy in c:\users\admin\panda1\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\admin\panda1\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\panda1\lib\site-packages (from SQLAlchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\panda1\lib\site-packages (from SQLAlchemy) (4.12.2)

In [68]:
import mysql.connector

conn = mysql.connector.connect(
    host='DESKTOP-B7HVS6K',
    user='root',
    password='Sunil@123',
    port=3306
)

cursor = conn.cursor()

In [69]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host='DESKTOP-B7HVS6K',
    user='root',
    password='Sunil@123',
    database='Project1',  #  replace with your DB name
    port=3306
)

# Create a cursor and test the connection
cursor = connection.cursor()
cursor.execute("SELECT DATABASE();")
print("Connected to database:", cursor.fetchone())

cursor.close()
connection.close()

Connected to database: ('project1',)

In [27]:
cursor.execute("SHOW DATABASES;")

for db in cursor:
    print(db)

ProgrammingError: 2055: Cursor is not connected

In [70]:
# Step 1: Import required libraries
import pandas as pd
from sqlalchemy import create_engine

In [71]:
df = pd.read_csv('customer_shopping_behavior1.csv')
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days,promo_code_used
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_aged,14.0,NaN
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adults,14.0,NaN
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_aged,7.0,NaN
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adults,7.0,NaN
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_aged,365.0,NaN
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,14,Venmo,Weekly,Middle_aged,7.0,NaN
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,90.0,NaN
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,19,Credit Card,Weekly,Young Adults,7.0,NaN
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,8,Venmo,Annually,Young Adults,365.0,NaN
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,4,Cash,Quarterly,Middle_aged,90.0,NaN

In [72]:
# Step 1: Import required libraries
import pandas as pd
from sqlalchemy import create_engine

In [73]:
# Step 0: Import necessary module
from sqlalchemy import create_engine

# Step 1: Database credentials
host = 'DESKTOP-B7HVS6K'
user = 'root'
password = 'Sunil@123'
database = 'Project1'
port = 3306

# Step 2: Create SQLAlchemy connection engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Step 3: Test the connection
try:
    with engine.connect() as connection:
        result = connection.execute("SELECT DATABASE();")
        for row in result:
            print(f"Connected to database: {row[0]}")
except Exception as e:
    print(f"Connection failed: {e}")

Connection failed: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '123@DESKTOP-B7HVS6K' ([Errno 11003] getaddrinfo failed)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [74]:
import urllib.parse
from sqlalchemy import create_engine

# Database credentials
host = 'DESKTOP-B7HVS6K'
user = 'root'
password = urllib.parse.quote_plus('Sunil@123')  # <-- URL-encode
database = 'Project1'
port = 3306

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Test connection
try:
    with engine.connect() as connection:
        result = connection.execute("SELECT DATABASE();")
        for row in result:
            print(f"Connected to database: {row[0]}")
except Exception as e:
    print(f"Connection failed: {e}")

Connection failed: Not an executable object: 'SELECT DATABASE();'

In [78]:
from sqlalchemy import create_engine, text
import urllib.parse

# Database credentials
host = 'DESKTOP-B7HVS6K'
user = 'root'
password = urllib.parse.quote_plus('Sunil@123')  # URL-encode special characters
database = 'Project2'
port = 3306

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Test connection
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT DATABASE();"))
        for row in result:
            print(f"Connected to database: {row[0]}")
except Exception as e:
    print(f"Connection failed: {e}")

Connected to database: project2

In [79]:
import pandas as pd
from sqlalchemy import create_engine, text
import urllib.parse

# Database credentials
host = 'DESKTOP-B7HVS6K'
user = 'root'
password = urllib.parse.quote_plus('Sunil@123')
database = 'Project2'
port = 3306

# Create engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Read your CSV
df = pd.read_csv("customer_shopping_behavior1.csv")  # <-- put your CSV file path here

# Write CSV to MySQL table (replace 'my_table' with your desired table name)
df.to_sql('my_table', con=engine, if_exists='replace', index=False)

print("CSV imported successfully!")

CSV imported successfully!